<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap" rel="stylesheet">
    <!-- Compiled and minified Materialize JavaScript -->
</head>
<body>
        <nav>
                <div class="nav-wrapper red">
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="badges.html">About</a></li>
                    <li><a href="badges.html">Contact</a></li>
                  </ul>
                </div>
              </nav>
        <div id="index-banner" class="parallax-container">
                <div class="section no-pad-bot">
                  <div class="container">
                    <br><br>
                    <h1 id=bannertext class="header center white-text text-lighten-2 flow-text fadeInUp">Political Party Finder</h1>
                  </div>
                </div>
                <div class="parallax"><img src="../styles/images/bkg-sky.jpg" alt="Unsplashed background img 1"></div>
              </div>
    </div>
    <div class="section white">
        <div class="row container">
            <h2 class="header center">Take the quiz to discover your party.</h2>
        </div>
        <p class="center">This anonymous quiz was designed to give a nonpartisan look at where you are on the political spectrum.</p>
            <p class= "center">Based on your answers, you will receive a breakdown of how you align with the Constitution Party, Democratic Party, Green Party, Libertarian Party, and Republican Party.</p>
        </div>
            <div class= "center">
            <a class="waves-effect red waves-light btn-large">Find Your Party</a>
            </div>    
            <br><br>
     
    <div class="parallax-container">
       <div class="parallax"><img src="../styles/images/whitehouse.jpg"></div>
    </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>


</body>
</html>