<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quiz</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <!-- Compiled and minified Materialize CSS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=DM+Serif+Text&display=swap" rel="stylesheet">
  <!-- Compiled and minified Materialize JavaScript -->
</head>

<body id="quiz">
        <nav>
                <div class="nav-wrapper red">
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/">Home</a></li>
                    <li><a href="about.html">About</a></li>
                  </ul>
                </div>
              </nav>
 <div id="quizArea">

 </div> 

  <div class="renderQuestions"></div>
  
  <div class="center">
	      <!-- Modal Trigger -->
	      <a class="waves-effect waves-light red btn view" id="modalButton">Submit Answers</a>
	    </div>
	  </div>
	  <!-- Modal Structure -->
	  <div id="modal1" class="modal">
	    <div class="modal-content">
	      <h4>Your results</h4>
	      <p>RESULTSRESULTSRESULTSRESULTSRESULTSRESULTSRESULTSRESULTSRESULTSRESULTSRESULTSRESULTSRESULTS</p>
	    </div>
	    <div class="modal-footer">
	      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Back to Quiz</a>
	    </div>
	  </div>
	</body>
	
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	
	<script type="text/javascript">
	 $("#modalButton").on("click", function(){
	    $('#modal1').modal();
	    $('#modal1').modal('open'); 
	 });

  // In this code, jQuery is used to "download" the data from our server
  // We then dynamically display this content in our table. This is very similar to the group projects you just completed.
  // It's also very similar to the NYT search application. In fact, I copied a ton of code from there.
loadQuestions();

  function loadQuestions() {
    // The AJAX function uses the URL of our API to GET the data associated with it (initially set to localhost)
    $.ajax({ url: "/api/quiz", method: "GET" })
      .then(function (dbExamples) {

        // Here we then log the tableData to console, where it will show up as an object.
        console.log(dbExamples);
        console.log("------------------------------------");

        // Loop through and display each of the questions
        for (var i = 0; i < dbExamples.length; i++) {
          
          $(".renderQuestions").append(
            $("<h2>").text(" Category: "+ dbExamples[i].category),
            $("<h2>").text([i+1] + ". " + dbExamples[i].question),
            $("<form>").attr("name", "userAnswer").append(
              $("<p>").append(
                $("<label>").append(
                    $("<input>").attr("type", "radio").attr("party", dbExamples[i].rep).text("Strongly Disagree"),
                  )
                ),
              $("<p>").append(
                $("<label>").append(
                    $("<input>").attr("type", "radio").attr("party", dbExamples[i].const).text("Disagree"),
                  )
                ),
                $("<p>").append(
                $("<label>").append(
                    $("<input>").attr("type", "radio").attr("party", dbExamples[i].green).text("Neutral"),
                  )
                ),
              $("<p>").append(
                $("<label>").append(
                    $("<input>").attr("type", "radio").attr("party", dbExamples[i].lib).text("Agree"),
                  )
                ),
                $("<p>").append(
                $("<label>").append(
                    $("<input>").attr("type", "radio").attr("party", dbExamples[i].dem).text("Strongly Agree"),
                  )
                ),
              ),
          )
           {{!-- console.log(dbExamples[i].category) --}}
        }
      });

        
  }

{{!-- on click button --}}
{{!-- $("submit").click(function(){
  var rep = 0;
  var const = 0;
  var green = 0;
  var lib = 0;
  var dem = 0; --}}

{{!-- if the button is checked, + rep --}}



{{!-- } --}}
{{!-- ) --}}



  // Run Queries!
  // ==========================================
  



</script>

</html>