<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <!-- Compiled and minified Materialize CSS -->
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Font Awesome Glyphicons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Chosen -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>

</head>

<body id="results">
    {{!-- <nav>
    <div class="nav-wrapper red">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="about.html">About</a></li>
      </ul>
    </div>
  </nav> --}}
    <nav class="navbar navbar-light bg-light">

        <a href="/">Home</a></li>
        <a href="about.html">About</a></li>
        {{!-- </ul> --}}
        {{!-- </div> --}}
    </nav>

    <div id="resultsArea"></div>

    <script type="text/javascript">

        var lScore = 0;
        var dScore = 0;
        var gScore = 0;
        var cScore = 0;
        var rScore = 0;

        $(document).ready(function () {

            $("#submitBtn").on("click", function () {
                console.log("clicked");
                rScore = parseInt($("input[name='q1']:checked").val()) + parseInt($("input[name='q6']:checked").val()) + parseInt($("input[name='q11']:checked").val()) + parseInt($("input[name='q16']:checked").val());
                cScore = parseInt($("input[name='q2']:checked").val()) + parseInt($("input[name='q7']:checked").val()) + parseInt($("input[name='q12']:checked").val()) + parseInt($("input[name='q17']:checked").val());
                gScore = parseInt($("input[name='q3']:checked").val()) + parseInt($("input[name='q8']:checked").val()) + parseInt($("input[name='q13']:checked").val()) + parseInt($("input[name='q18']:checked").val());
                lScore = parseInt($("input[name='q4']:checked").val()) + parseInt($("input[name='q9']:checked").val()) + parseInt($("input[name='q14']:checked").val()) + parseInt($("input[name='q19']:checked").val());
                dScore = parseInt($("input[name='q5']:checked").val()) + parseInt($("input[name='q10']:checked").val()) + parseInt($("input[name='q15']:checked").val()) + parseInt($("input[name='q20']:checked").val());

                console.log("Republican " + rScore);
                console.log("Constitution " + cScore);
                console.log("Green " + gScore);
                console.log("Libertarian " + lScore);
                console.log("Democrat " + dScore);

                var scores = [rScore, cScore, gScore, lScore, dScore];
                scores.sort(function (a, b) { return b - a });
                console.log(scores);
                $("#resultsArea").html(scores);

            });
        });

    </script>
</body>

</html>