body {
        background-image: url("../styles/imagesbkg-sky.jpg");
      }
#quizarea{
    padding: 3% 5%;
    margin: 5% 5%;
    background-color: white;
}

#navbar{
    font-family: 'DM Serif Text', serif;
}